<article class="element fx-slide-up home clearfix one-third index index5">
  <div class="images">
    <%= image_tag("index/main_1.jpg") %>
  </div>
  <div class="content-bottom content-bottom-alt reveal-bg-one">
    <div class="thumb pad pad-bottom-minus"></div>
    <h2 class="pad pad-top-minus pad-bottom-minus"  style="height:80px;">Groups of elements</h2>
    <p class="pad pad-top-minus" style="height: 100px;overflow:hidden;">Remembering a phone number for almost all people is a difficult task, because the phone number is the set of numbers for the human perception is abstract information.</p>
    <div class="pad pad-top-minus">
      <%= link_to "Read Full Story", "#filter=.index%3Anot(.index5),+.post1", :class => "btn btn-reveal" %>
    </div>
  </div>
</article>

<article class="element  clearfix two-third post1">
  <div class="images"><%= image_tag("index/index1.jpg") %>
  </div>
  <div class="content-bottom reveal-bg-one">
    <h2 class="pad pad-bottom-minus">Groups of elements</h2>
    <p class="pad pad-top-minus pad-bottom-minus">
      There are five groups of elements. Thus, each element of the group always has only one digit (from 0 to 9).
    Groups of elements: characters, clothes, colors, geometric figures and patterns.</br>
    The first group - the characters. Characters (animals) are chosen so that each subsequent larger or stronger the previous one: the mouse is the smallest, so it holds the number 1. Cat bigger than a mouse, so is the numeral 2, dog (3), gorilla (4) bull (5), lion (6), crocodile (7), bear (8), hippo (9), duck (0).</br>
    The second group - colors: red (1), orange (2), yellow (3) green (4), light blue (5), blue (6), violet (7), brown (8) black (9) white (0).</br>
    The third group - the clothing of characters. Trunks (1), sleeveless shirt (2), shorts (3), T-shirt (4), pants (5), shirt (6), blazer (7), jacket (8), coat (9), tie (0).</br>
    The fourth group - geometric figures. Vertical rectangle (1), the horizontal rectangle (2), triangle (3), square (4), five-pointed star (5), hexagon (6),  parallelepiped (7), octagon (8), diamond (9), circle (0).</br>
    The fifth group - patterns. Vertical stripes (1), horizontal lines (2), triangles (3), squares (4), five-pointed stars (5), hexagons (6), oblique stripes (7), the flowers (8), diamonds (9), circles (0).</br>
    </p>
   </div>
</article>