<article class="element fx-slide-up clearfix one-third home isotope-item">
  <div class="images"><%= image_tag("decoder/back_main.jpg", :alt => "")%></div>
  <div class="content-bottom content-bottom-alt reveal-bg-one">
    <h2 class="pad pad-top-minus pad-bottom-minus">Background</h2>
    <p class="pad pad-top-minus"  style="height: 190px;overflow:hidden;">The first three digits of the phone number always mean operator code or area code and encrypted in the background logo. There are three types of background logo: flag, monochrome background with monochrome figure, neutral background with two-color figure.
    </p>
    <div class="pad pad-top-minus">
      <%= link_to "Read Full Story", decoder_background_path, :class => "btn btn-reveal" %>
    </div>
  </div>
</article>