<footer id="mastfoot">
  <section class="container" style="margin-top:0px;background:#000;">
    <div class="row-fluid">
      <article class="span6 mob-center">
        <%= image_tag("foot_logo.jpg", :id => "footlogo") %>
        <p class="slogan">Remember any phone number in less than half a second</p>
      </article>
      <article class="span6 text-right">
        <ul id="foot-icons" class="clearfix">
          <li><a href="#"><%= image_tag("social/footer_dribbble.png") %></a></li>
          <li><a href="#"><%= image_tag("social/footer_facebook.png") %></a></li>
          <li><a href="#"><%= image_tag("social/footer_twitter.png") %></a></li>
        </ul>
        <p class="copyright" >Created &copy; 2013 by CitrusDev</p>
      </article>
    </div>
  </section>
</footer>

<!-- <div id="backtotop">
  <a id="toTop" href="#" onClick="return false"></a>
</div> -->