<footer id="mastfoot">
  <section class="container-fluid">
    <div class="row-fluid">
      <article class="span6 mob-center">
        <%= image_tag("logo.png", :id => "footlogo") %>
        <p class="slogan">Slogan</p>
      </article>
      <article class="span6 text-right">
        <ul id="foot-icons" class="clearfix">
          <li><a href="#"><%= image_tag("social/footer_dribbble.png") %></a></li>
          <li><a href="#"><%= image_tag("social/footer_facebook.png") %></a></li>
          <li><a href="#"><%= image_tag("social/footer_twitter.png") %></a></li>
        </ul>
        <p class="copyright">Copyright &copy; 2013 CitrusDev</p>
      </article>
    </div>
  </section>
</footer>

<!-- <div id="backtotop">
  <a id="toTop" href="#" onClick="return false"></a>
</div> -->