<article class="element fx-slide-up home clearfix one-full about">
  <div class="reveal-bg-nine">
    <div class="thumb pad pad-bottom-minus"></div>
    <h2 class="pad pad-top-minus pad-bottom-minus">Welcome,</h2>
    <p class="pad pad-top-minus">Logophone - is a software that generates a unique logo for any phone number. Using logophone, you will be able to remember any phone number in less than half a second (that is 8 times faster than you can read it). In addition, you will always be able to remember any phone number.</p>
  </div>
</article>