<article class="element fx-slide-up home clearfix one-third about">
  <div class="images">
    <%= image_tag("index/main_1.png") %>
  </div>
  <div class="content-bottom content-bottom-alt reveal-bg-one">
    <div class="thumb pad pad-bottom-minus">
    </div>
    <h2 class="pad pad-top-minus pad-bottom-minus"  style="height:80px;">How does it work</h2>
    <p class="pad pad-top-minus" style="height: 100px;overflow:hidden;">Remembering a phone number for almost all people is a difficult task, because the phone number is the set of numbers for the human perception is abstract information.</p>
    <div class="pad pad-top-minus">
      <%= link_to "Read Full Story", page_how_path, :class => "btn btn-reveal" %>
    </div>
  </div>
</article>