<article class="element fx-slide-up home clearfix one-third about">
  <div class="images">
    <%= image_tag("index/main_3.jpg") %>
  </div>
  <div class="content-bottom content-bottom-alt reveal-bg-three">
    <div class="thumb pad pad-bottom-minus">
    </div>
    <h2 class="pad pad-top-minus pad-bottom-minus" style="height:80px;">About Logophone</h2>
    <p class="pad pad-top-minus">By using our product, you can create and store logos phone numbers of your friends. You can also train your memory using different modes of application.</p>
    <div class="pad pad-top-minus">
      <span class="btn btn-reveal">Read Full Story</span>
    </div>
  </div>
</article>
