<article class="element fx-slide-up home clearfix one-third index index4">
  <div class="images">
    <%= image_tag("index/main_4.png") %>
  </div>
  <div class="content-bottom content-bottom-alt reveal-bg-two">
    <div class="thumb pad pad-bottom-minus">
    </div>
    <h2 class="pad pad-top-minus pad-bottom-minus" style="height:80px;">If you like Logophone</h2>
    <p class="pad pad-top-minus" style="height: 100px;overflow:hidden;">If you like our product, tell your friends about it, write about it on social networks or send to your friends their logos phone numbers, or just put a Like.
    </p>
    <div class="pad pad-top-minus">
      <%= link_to "Read Full Story", "#filter=.index%3Anot(.index4),+.post4", :class => "btn btn-reveal" %>
    </div>
  </div>
</article>

<article class="element  clearfix two-third post4">
  <div class="images"><%= image_tag("index/index4b.jpg") %>
  </div>
  <div class="content-bottom reveal-bg-two">
    <h2 class="pad pad-bottom-minus">If you like Logophone</h2>
    <p class="pad pad-top-minus pad-bottom-minus">Create your logophone and logos of their friends.
    If you like our product, tell your friends about it, write about it on social networks or send to your friends their logos phone numbers, or just put a Like.</p>
<p class="pad pad-top-minus pad-bottom-minus">It's easy, it's fun, it's useful.</p>
<p class="pad pad-top-minus pad-bottom-minus">We thank all those who helped to inform the world about this product!</p>
</p>
   </div>  
</article>




