<%= @theme %>
<div id="theme">
    <div class="">
        <%= link_to "Light", :controller => "page", :action => "set_light" %>
        <%= link_to "Black", :controller => "page", :action => "set_dark" %>
    </div>
</div>