<article class="element clearfix home">
  	<div class="row"><div class="span4 offset4"><h1>Creator</h1></div></div>
	<div class="row">
		<div class="span2 offset4">
			<a href="#"><img src="/assets/left.png" alt="proxim" title="proxim"></a>
			<a href="#"><img src="/assets/right.png" alt="proxim" title="proxim"></a>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset3">
			<%= image_tag  "contacts/logo1.png", :class => "myimage", :size => "280x90"  %>
		</div>
	</div>
	<div class="row">
		<div class="span2 offset4">
			<a href="#"><img src="/assets/left.png" alt="proxim" title="proxim"></a>
			<a href="#"><img src="/assets/right.png" alt="proxim" title="proxim"></a>
		</div>
	</div>
	<div class="row">
		<%= form_tag( creator_show_path, :method => "get") do %>
			<div class="span5 offset3">
				<%= text_field_tag :phone, params[:phone], :class => "minput" %>
				<%= submit_tag("Create!", :class => "msubmit") %>
				<!-- <button class="msubmit" name="submit" type="submit">Create!</button> -->
			</div>
		<% end %>
	</div>
</article>
<!-- <article class="element clearfix home">
	<%#= image_tag  "contacts/logo1.png", :class => "img-polaroid", :size => "280x90"  %>
	<%#= form_tag(page_create_logo_path, method: "get") do %>
	  <%#= label_tag(:phone, "Enter phone number:") %>
	  <%#= text_field_tag(:phone) %>
	  <%#= submit_tag("Create") %>
	<%# end %>
</article>
 -->