<article class="element clearfix home pp" style="position:relative !important;">
  	<div class="row"><div class="span4 offset4"><h1>Creator</h1></div></div>
	<div class="mcenter">
		<div class="layers">
			<!-- напихивать таким -->
			<!-- <%= image_tag  "layers/1.png", :class => "myimage", :width => "400"  %> -->
		</div>
	</div>
	
	<div class="mcenter">
		<%= form_tag( creator_show_path, :method => "get") do %>
				<%= text_field_tag :phone, params[:phone], :class => "minput" %>
				<%= submit_tag("Create!", :class => "msubmit") %>
		<% end %>
	</div>
</article>
