<article class="element home clearfix one-full about isotope-item">
  <div class="reveal-bg-nine">
    <h2 class="pad pad-top-minus pad-bottom-minus"><center>Create new logo</center></h2>
  </div>
</article>
<article class="element clearfix home pp one-full">
	<% if @theme.present? && @theme == "dark" %>
		<h4 class="introtext lt">Enter the phone number and create a logo. You can also sign it and save</h4>
		<h3 class="lt" style="text-align:center;padding-bottom:0px;">Enter phone number (10 digits):</h3>
	<% else %>
		<h4 class="introtext">Enter the phone number and create a logo. You can also sign it and save</h4>
		<h3 style="text-align:center;padding-bottom:0px;">Enter phone number (10 digits):</h3>
	<% end %>
	<center>
		<%= form_tag( creator_show_path, :method => "get", :style =>"width:30%;") do %>
				<%= text_field_tag :phone, params[:phone], :class => "minput10", :maxlength => "10", :id => 'numbers_only'%>
				<%= submit_tag("Create!", :class => "msubmit", :style =>"bottom:0px !important;") %>
		<% end %>
	</center>
</article>

