<article class="element clearfix home pp">
  	<div class="row"><div class="span4 offset4"><h1>Creator</h1></div></div>
	<div class="mcenter">
		<div class="layers">
			<!-- напихивать таким -->
			<!-- <%= image_tag  "layers/1.png", :class => "myimage", :width => "400"  %> -->
		</div>
	</div>
		<div class="row">
		<div class="span2 offset4">
			<a href="#"><img src="/assets/left.png" alt="proxim" title="proxim"></a>
			<a href="#"><img src="/assets/right.png" alt="proxim" title="proxim"></a>
		</div>
	</div>
</article>
