<article class="element fx-slide-up home clearfix one-full about isotope-item">
  <div class="reveal-bg-nine">
    <center><h2 class="pad pad-top-minus pad-bottom-minus">Information</h2></center>
  </div>
</article>
<article class="element clearfix home pp one-full">
    <h4 class="introtext">The logo uses the following elements: characters, character clothing, sunglasses, geometrical figures, patterns on the clothes and colors. Each element is always designated one digit. All of these  elements you can see in the Table</h4>
	<table class="table table-hover info">
		<thead>
		   <tr class="reveal-bg-four" style="color:#fff; font-size: 16pt;">
		  	<td width="40%"><b>The number of elements </b></td>
		  	<td width="60%"><b>Decoding formula</b></td>
		  </thread>
    <tbody>
    <tr>
        <td class="digit"><b>1</b></td>
        <td class="text">
        	<b>Tricolor flag</b></br>The first digit is the color of the upper band</br>
        	<b>Background color and monochrome figure</b></br>The first digit  represents the background color</br>
        	<b>Two-colored figure</b></br>The first digit is the color of the center pieces</br>
        	<b>Character and Clothing</b></br>The first digit is the character</br>
        </td>
    </tr>
	<tr>
        <td class="digit"><b>2</b></td>
        <td class="text">
        	<b>Two-colored figure</b></br>The first digit is the color of a shape
				The second digit  is the shape of the figure</br>
        	<b>Glasses</b></br>The first digit  is the color of glasses
				The second digit indicates the shape of glasses
				</br>
        </td>
    </tr>
   	<tr>
        <td class="digit"><b>3</b></td>
        <td class="text">
        	<b>Tricolor flag</b></br>The first digit is the color of the upper band</br> 
			The second digit  - the color of the middle band</br>
			The third digit  - the color of the lower band</br>
        	<b>Background color and monochrome figure</b></br>The first digit  represents the background color</br>
			The second digit  is the color of a shape</br>
			The third digit  is the shape of the figure</br>
        	<b>Two-colored figure </b></br>The first digit is the color of the center pieces </br>
			The second digit number is the color fringe figures</br> third digit  is the shape of the figure</br>
        	<b>Character and Clothing</b></br>The first digit is the character</br>
			The second digit  is the color of the clothes</br>
			The third digit  indicates the kind of clothes</br>
        </td>
    </tr>
    <tr>
        <td class="digit"><b>4</b></td>
        <td class="text">
        	The first digit  indicates the color of the background</br>
			The second digit  is the character</br>
			The third digit  indicates the color of clothing</br>
			The fourth digit indicates the kind of clothes</br>
        </td>
    </tr>
    <tr>
        <td class="digit"><b>5</b></td>
        <td class="text">
			The first digit is the character</br>
			The second digit  is the color of the clothes</br>
			The third digit indicates the kind of clothing</br>
			The fourth digit  indicates the color of the pattern</br>
			The fifth digit is the type of pattern</br>
        </td>
    </tr>
    <tr>
        <td class="digit"><b>6</b></td>
        <td class="text">
			The first digit  indicates the color of the background</br>
			The second digit  is the character</br>
			The third digit  - is the color of clothing</br>
			The fourth digit  indicates the kind of clothing</br>
			The fifth digit  indicates the color of the pattern</br>
			The sixth digit  is the type of pattern</br>
        </td>
    </tr>
    <tr>
        <td class="digit"><b>7</b></td>
        <td class="text">
			The first digit  is the character</br>
			The second digit  is the color of clothing with a pattern</br>
			The third digit  indicates the kind of clothing with a pattern</br>
			The fourth digit  indicates the color of the pattern</br>
			The fifth digit  is the type of pattern</br>
			The sixth digit is the color of clothes without a pattern or color of the glasses</br>
			The seventh digit is the type of character clothing or shape of the glasses</br>
        </td>
    </tr>
    <tr>
        <td class="digit"><b>8</b></td>
        <td class="text">
			The first digit  is the background color</br>
			The second digit  is a character</br>
			The third digit  is the color of clothing with a pattern</br>
			The fourth digit   is the type of clothing with a pattern</br>
			The fifth digit  is the color of the pattern</br>
			The sixth digit  refers to the type of pattern</br>
			The seventh digit  is the color of the clothes without a pattern or color of the glasses</br>
			The eighth digit  is the type of clothing the character or form of glasses</br>
        </td>
    </tr>
    <tr>
        <td class="digit"><b>9</b></td>
        <td class="text">
			The first digit  - the color of the background figures</br>
			The second digit  - the form of the background figures</br>
			The third digit  is the character</br>
			The fourth digit  indicates the color of clothing with a pattern</br>
			The fifth digit  is the kind of clothing with a pattern</br>
			The sixth digit  indicates the color of the pattern</br>
			The seventh digit  refers to the type of pattern</br>
			The eighth digit  is the color of the clothes without a pattern or color of the glasses</br>
			The ninth digit   is the type of clothing the character or form of glasses</br>
        </td>
    </tr>
    <tr>
        <td class="digit"><b>10</b></td>
        <td class="text">
			The first three digits describe the background (see the help section on the three elements)</br>
			The fourth digit indicates the character</br>
			The fifth digit  is the color of clothing with a pattern</br>
			The sixth digit  is the kind of clothing with a pattern</br>
			The seventh digit indicates the color of the pattern</br>
			The eighth digit  is the kind of pattern</br>
			The ninth digit  is the color of the clothes without a pattern or color of the glasses</br>
			The tenth digit  is the kind of clothes without a pattern or shape of the glasses</br>
        </td>
    </tr>
	<tr>
        <td class="digit"><b>More then 10</b></td>
        <td class="text">
			Please enter the answer to the first image, then on the second, and so on.
        </td>
    </tr>
    </tbody>
</table>
</article>
