<article class="element fx-slide-up home clearfix one-full about isotope-item">
  <div class="reveal-bg-nine">
    <center><h2 class="pad pad-top-minus pad-bottom-minus">Training mode</h2></center>
  </div>
</article>
<article class="element clearfix home pp one-full">
	<div id="products">
		<%= render 'training' %>
	</div>
</article>
