<article class="element clearfix home">
	<%= image_tag  "contacts/logo1.png", :class => "img-polaroid", :size => "280x90"  %>
	<div class="row-fluid show-grid">
		<%= text_field :phone, :placeholder => "Enter phone number" %>
	</div>
</article>
