<article class="element fx-slide-out clearfix one-third home overflow">
  <div class="inner-panel reveal-bg-six">
    <div class="thumb pad pad-bottom-minus">
      <%= image_tag("slider.png")%>
    </div>
    <h2 class="pad pad-top-minus">
      <center>
        Groups of elements
      </center>
    </h2>
  </div>
</article>