<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
    		Message from user: "<%= @uname %>"<br/>
    		User's email: "<%= @email %>"<br/><br/><br/>
        <%= @msg %>
    </p>
  </body>
</html>